a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  display: none;
}

.links {
  display: flex;
}

@media (max-width: 800px) {
  .menu {
    display: flex;
  }

  .links {
    display: none;
  }
}
