@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-brand: #c83e2f;
  --color-primary: var(--color-brand);
  --color-background: #141414;
  --color-background-secondary: #282828;
  --color-accent: #fff
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-accent);
}

.content {
  margin: 0 auto;
  padding-top: 68px;
  max-width: 1200px;
}
